@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    position: relative;
    /* background: #17191a;*/
    background: #151627;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
    overflow: hidden;
}

.container-titulo{
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    text-align: center;
}

.titulo{
    font-size: 50px;
    font-family: 'Cinzel', sans-serif;
    margin-bottom: 10px;
}

.container-titulo i{ font-size: 50px; }

.imgs{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.img_anonymous{
    width: 340px;
    opacity: 1;
}

.main{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 15px;
    width: 560px;
}

.block{
    font-size: 18px;
    margin-bottom: 20px;
    animation: blockPisc 5s infinite;
}

@keyframes blockPisc {
    0%, 100%{
        opacity: 0;
        letter-spacing: 0;
    }

    50%{
        opacity: .8;
        letter-spacing: 2px;
    }
}

.inputs{ margin-right: 20px; }

input{
    width: 280px;
    height: 50px;
    padding: 10px 10px 10px 50px;
    margin-bottom: 20px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 3px;
}

.iconPos{
    position: relative;
    left: 38px;
    text-shadow: none;
}

.keyInput{ color: #484848; }

.codeInput{
    color: #fff;
    opacity: .2;
}

.errado{
    border: 1px solid #dc3545;
    box-shadow: 0 0 20px #dc3545;
}

.certo{
    border: 1px solid #198754;
    box-shadow: 0 0 20px #198754;
}

.sct{
    text-align: center;
    margin-top: 550px;
    font-family: 'Cinzel', sans-serif;
}

.sct::before{
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block;
    background-color: #70e000;
}

.sct::after{
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 5px;
    display: inline-block;
    background-color: #70e000;
}

.pos{
    position: absolute;
    animation: opacidade 3s forwards reverse;
    opacity: 0;
    font-size: 16px;
    font-weight: 500;
}

.pos2{
    position: absolute;
    animation: opacidade2 1s forwards infinite;
    opacity: 0;
    font-size: 16px;
    font-weight: 500;
}

@keyframes opacidade2 {
    0%, 100%{
        opacity: 1;
    }

    50%{
        opacity: 1;
        top: 100%;
    }
}

.green{color: #70e000;}
.greenC{color: #198754;}

@keyframes opacidade {
    0%{
        opacity: 0;
        top: 0;
        visibility: hidden;
    }

    50%{
        opacity: 0;
        top: 100%;
        visibility: visible;
    }

    100%{
        opacity: 1;
        top: 0;
        visibility: hidden;
    }
}
